.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr 0.45fr 3fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}

@media (max-width: 665px) {
    .wrapper {
        grid-template-rows: 0.5fr 0.25fr 3fr 0.5fr 0.5fr;
        grid-template-columns: 2fr 1fr;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: clamp(0.8rem, 1vw, 1rem);
}
p {
    margin: 0;
}

.horisontal-blue {
    grid-column: 1 / 4;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(99, 99, 225);
}

@media (max-width: 665px) {
    .horisontal-blue {
        padding: 20px;
    }
}

.horisontal-blue.first {
    grid-row: 1 / 2;
}

.horisontal-blue.footer {
    grid-row: 4 / 5;
}

@media (max-width: 665px) {
    .horisontal-blue.horisontal-blue.footer {
        grid-row: 5/6;
    }
}

.horisontal-blue > p {
    flex: 1;
}

.inner {
    height: 40px;
    width: 10%;
    background-color: white;
    line-height: 40px;
    text-align: center;
}

@media (max-width: 665px) {
    .inner {
        height: 20px;
        width: 70px;
    }
}

.vertical-orange {
    background-color: rgb(218, 167, 72);
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.vertical-orange.left {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
}

@media (max-width: 665px) {
    .vertical-orange.left {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
        padding: 20px;
        background-color: rgb(237 218 185);
    }
}

.vertical-orange.right {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

@media (max-width: 665px) {
    .vertical-orange.right {
        grid-column: 2/3;
        grid-row: 3/5;
    }
}

.center-white {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

@media (max-width: 665px) {
    .center-white {
        grid-column: 1/2;
        padding: 35px;
    }
}

.center-white-ol {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.horisontal-green {
    grid-column: 2 / 4;
    z-index: 1;
    grid-row: 2 / 3;
    background-color: rgb(79, 181, 79);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
}

@media (max-width: 665px) {
    .horisontal-green {
        grid-column: 1/4;
    }
}

.header {
    margin: 0 auto;
    font-weight: 400;
    font-size: larger;
}

@media (max-width: 665px) {
    .header {
        line-height: 100%;
    }
}

p {
    overflow: hidden;
    max-height: 100%;
}

.p-right {
    text-align: right;
}

.menu {
    display: flex;
    gap: 20px;
    margin: 0;
    -webkit-padding-start: 0;
    overflow: hidden;
}

.menu > li {
    list-style: none;
}

a {
    color: black;
}

@media (max-width: 500px) {
    .menu li:nth-child(n + 4) {
        display: none;
    }
}

@media (max-width: 555px) {
    .menu li:nth-child(n + 5) {
        display: none;
    }
}

.current-page-link {
    font-weight: 700;
}

img {
    max-width: 100%;
    max-height: 100%;
}
