.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 0.25fr 2fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
}
body {
    margin: 0;
    padding: 0;
    /* font-size: 100%; */
}
p {
    margin: 0;
}

.horisontal-blue {
    grid-column: 1 / 4;
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(99, 99, 225);
}

.horisontal-blue.first {
    grid-row: 1 / 2;
}

.horisontal-blue.footer {
    grid-row: 4 / 5;
}

.inner {
    height: 40px;
    width: 10%;
    min-width: 100px;
    background-color: white;
    line-height: 40px;
}

.vertical-orange {
    grid-row: 2 / 4;
    background-color: rgb(218, 167, 72);
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.vertical-orange.left {
    grid-column: 1 / 2;
}
.vertical-orange.right {
    grid-column: 3 / 4;
}

.center-white {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    padding: 0 20px;
    display: flex;
    align-items: center;
}

.center-white-ol {
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.horisontal-green {
    grid-column: 2 / 4;
    z-index: 1;
    grid-row: 2 / 3;
    background-color: rgb(79, 181, 79);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;
}

h1,
h2 {
    margin: 0;
    padding: 0 0 0 20px;
    font-weight: 400;
    font-size: larger;
}

p {
    overflow: hidden;
    max-height: 100%;
}

.p-right {
    text-align: right;
}

.menu {
    display: flex;
    gap: 20px;
    margin: 0;
    -webkit-padding-start: 0;
    overflow: hidden;
}

.menu > li {
    list-style: none;
}

a {
    color: black;
}

@media (max-width: 500px) {
    .menu li:nth-child(n + 4) {
        display: none;
    }
}

@media (max-width: 555px) {
    .menu li:nth-child(n + 5) {
        display: none;
    }
}

.current-page-link {
    font-weight: 700;
}

img {
    max-width: 100%;
    max-height: 100%;
}
