body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: clamp(0.8rem, 1vw, 1rem);
}
p {
    margin: 0;
}
div {
    box-sizing: border-box;
}
.horisontal {
    height: 20%;
    position: relative;
    overflow: hidden;
}

.horisontal__container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 20px;
    display: table;
    height: 20px;
}

.horisontal__container > * {
    display: table-cell;
    vertical-align: middle;
}

.blue {
    background-color: rgb(99, 99, 225);
}

.inner {
    height: 40px;
    width: 10%;
    min-width: 100px;
    background-color: white;
    line-height: 40px;
}

.p-right {
    text-align: right;
}

.middle {
    height: 60%;
    display: table;
}

.middle > * {
    display: table-cell;
}

.vertical-orange {
    background-color: rgb(218, 167, 72);
    width: 25%;
    padding: 0 20px;
    vertical-align: middle;
}

.middle__right {
    height: 100%;
    width: 74%;
}
.horisontal-green {
    background-color: rgb(79, 181, 79);
    height: 15%;
    width: 100%;
    padding-right: 20px;
}

.middle__right__center {
    height: 85%;
    display: table;
}

.middle__right__center > * {
    display: table-cell;
    height: 100%;
}

.center-white {
    padding: 0 20px;
    width: 74%;
    vertical-align: middle;
}

h1,
h2 {
    margin: 0;
    padding: 0 0 0 20px;
    font-weight: 400;
    font-size: larger;
}

p {
    overflow: hidden;
}

.menu {
    display: table;
    float: right;
    gap: 20px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

.menu > li {
    display: table-cell;
    vertical-align: middle;
    list-style: none;
    margin-left: 20px;
}

a {
    line-height: 100%;
}

.menu > li::after {
    content: '';
    display: inline-block;
    width: 20px;
}

a {
    color: black;
}

@media (max-width: 500px) {
    .menu li:nth-child(n + 4) {
        display: none;
    }
}

.current-page-link {
    font-weight: 700;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.parrots-img {
    max-height: 80%;
    margin: 0 auto;
}
